@use "../functions/font-size" as f;
/// Font size mixin.
/// Used to convert to relative units rem.
///
/// @name Font size
/// @group Utilities
///
/// @param {Number} $size - Font size value in px.
///
/// @example scss
///   @include fontSize(16)

@mixin fontSized($size) {
  $size: $size + 0px;
  font-size: $size; //Fallback in px
  font-size: f.calculateRemSize($size);
}
